<ion-view view-title="Welcome to the Userregistry Demo Application">
<ion-content class="padding">
<h1>Userregistration Demo Application</h1>
<p>The core purpose of the Userregistry Demo Application is to show
	you the capabiltiy of the Userregistration Project</p>
<h2>About the Userregistration Project</h2>
<p>Even simple and small Mobile / Web Applications needs a
	directory. Darwino is capable to integrate different types of
	directories. Common LDAP, Connections Cloud and Office 365 are
	supported out of the box</p>
</ion-content> </ion-view>
