<ion-view view-title="Selfregistration"> <ion-content>

<h1>Get involved, register today!</h1>
<ion-spinner ng-if="regCtrl.loading"></ion-spinner>
<msg-box error="regCtrl.error" type='regCtrl.errortype' messages = 'regCtrl.errormsgs' trace='regCtrl.errortrace'></msg-box>
<div class="list list-inset" ng-hide="regCtrl.done">
	<label class="item item-input"> <span class="input-label">First
			Name</span> <input type="text" placeholder="Max" ng-model="regCtrl.data.firstname">
	</label> <label class="item item-input"> <span class="input-label">Last
			Name</span> <input type="text" placeholder="Magic" ng-model="regCtrl.data.lastname">
	</label> <label class="item item-input"> <span class="input-label">Email</span>
		<input type="text" placeholder="Max.Magic@darwino.org"
		ng-model="regCtrl.data.email">
	</label> <label class="item item-input"> <span class="input-label">Password</span>
		<input type="password" ng-model="regCtrl.data.password">
	</label> <label class="item item-input"> <span class="input-label">Confirmation</span>
		<input type="password" ng-model="regCtrl.data.confirmation">
	</label>
	<div class="button-bar">
		<a class="button button-positive" ng-click="regCtrl.register()">Register</a><a
			class="button">Cancel</a>
	</div>
</div>
<div class="list card">
<div class="list item" ng-show="regCtrl.done">Thank you for register. You will receive a e-mail to activate your account!</div>
</div>

</ion-content> </ion-view>
